[NASNE]
ip = NASNEのIPをカンマ区切りで

[PLAYER]
commenomi_path = commenomi.exeのパスを設定
jkcommentviewer_path = jkcommentviewer.exeのパスを設定

[LOG]
# 取得したコメントの保存フォルダ
kakolog_dir = C:\Users\kam\OneDrive\ドキュメント\work\komenasne\kakolog\
